@font-face {
  font-family: "VT323";
  src: url("./src/assets/fonts/VT323-Regular.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "VT323", monospace;
  font-weight: 900;
  font-style: normal;
  font-size: 2rem;
  background: url(./src/assets/img/background.webp) center fixed;
  background-size: cover;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.card {
  border: 1px solid black;
  padding: 2rem;
}

.card > img {
  border: 1px solid black;
}
